<div class="card flex items-center bg-white border border-gray-300 rounded-lg shadow-md p-6 max-w-3xl mx-auto my-4">
  
    <!-- Content Section on the Left -->
    <div class="flex-1">
      <h2 class="text-2xl font-semibold text-gray-900">{{ menu.name }}</h2>
      <p class="text-gray-700 mt-2">{{ menu.description }}</p>
      <p class="text-gray-700 mt-2">${{ menu.price }}</p>
    </div>
    
   
    
    <!-- Add to Cart Section -->
    <div class="ml-4 flex flex-col items-center">
      <!-- Add to Cart Icon -->
      <button 
        (click)="addToCart()"
        class="bg-grey-500 text-white p-2 rounded-full "
      >
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/></svg>
      </button>
  
      <!-- Quantity Controls -->
      <div class="flex items-center mt-2">
        <button (click)="decreaseQuantity()" class="bg-gray-200 p-1 rounded-l hover:bg-gray-300">-</button>
        <span class="px-3">{{ quantity }}</span>
        <button (click)="increaseQuantity()" class="bg-gray-200 p-1 rounded-r hover:bg-gray-300">+</button>
      </div>
    </div>
   <!-- Image Section on the Right -->
   <div class="w-1/8 pl-4">
    <img
      [src]="menu.imageUrl"
      alt="{{ menu.name }} image"
      class="w-full h-full object-cover rounded-lg"
    />
  </div>
  </div>
  